
/* Hover effect */
.navbar a:hover {
    background-color: #454545;
}

#covenant-page main {
    background-color: rgba(10, 0, 20, 0.7);
    box-shadow: 0 0 25px #6a0dad;
    border: 2px solid #8a2be2;
}

#covenant-page h1 {
    border-bottom: 2px solid #ff66cc;
    color: #ffccff;
}

#covenant-page img {
    border: 4px solid #ff00ff;

}


#covenant-page section {
    border: 2px dashed #9932cc;
    background-color: rgba(0, 0, 0, 0.3);
}

#covenant-page .faction {
    color: #da70d6;
}

/* #covenant-page .faction:hover {
    color: #ff69b4;
    text-shadow: 0 0 5px #ff69b4;
} */

/* Optional: nav bar tweaks just on covenant page */
#covenant-page .navbar a:hover {
    background-color: #3a003a;
}