body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    margin: 2em;
}

#unsc-title {
    color: #00bfff;
    text-align: center;
}

#unsc-image {
    display: block;
    margin: 1em auto;
    border: 5px solid #00bfff;
    border-radius: 1em;
    width: 25%;
    max-width: 50%;
}

section ul li {
    margin-bottom: 0.5em;
}

footer p {
    text-align: center;
    font-size: 1.2em;
}

.nav-link {
    display: block;
    text-align: center;
    margin-top: 2em;
    color: #00bfff;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffcc00;
    /* this id for the back to home link */
}

a:hover {
    color: purple;
    /* this is for the link on the word "Covenant */
}

#firstp,
#secondp {
    width: 48%;
}

#firstp {
    float: left;
}

#secondp {
    float: right;
}

article::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the navbar */
.navbar {
    list-style-type: none;
    background-color: #1a1a1a;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: .5em;
    border: #00bfff;
}

/* Style navbar links */
.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 2em;
    transition: background-color 0.3s ease;

}

/* Hover effect */
.navbar a:hover {
    background-color: #454545;
}