#unsc-title {
    color: #00bfff;
    text-align: center;
}

.nav-link {
    display: block;
    text-align: center;
    margin-top: 2em;
    color: #00bfff;
    font-weight: bold;
    text-decoration: none;
}

#unsc-page main {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 25px #00bfff;
    border: 2px solid #00bfff;
    padding: 2em;
    border-radius: 1em;
}

#unsc-image{
    width: 75%;
}

.unsc-paragraph-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top: 2em;
}

.unsc-paragraph-grid p {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1em;
    border: 2px solid #00bfff;
    border-radius: 0.75em;
    box-shadow: 0 0 10px #00bfff;
}

.unsc-paragraph-grid p:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

/* Covenant link style on UNSC page */
.covenant-link {
    color: #00bfff;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px dotted #00bfff;
    padding-bottom: 2px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.covenant-link:hover {
    color: #ffcc00;
    text-shadow: 0 0 5px #ffcc00;
    border-bottom: 2px dotted #ffcc00;
}

.nav-link:hover {
    color: #ffcc00;
    /* this id for the back to home link */
}

a:hover {
    color: purple;
    /* this is for the link on the word "Covenant */
}

/* Style the navbar */
.navbar {
    list-style-type: none;

    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: .5em;
    border: #00bfff;
}

/* Style navbar links */
.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 2em;
    transition: background-color 0.3s ease;

}

/* Hover effect */
.navbar a:hover {
    background-color: #454545;
}

@media only screen and (max-width: 700px) {
    .unsc-paragraph-grid {
        grid-template-columns: 1fr;
    }
}


@media only screen and (max-width: 650px) {
    #unsc-image {
        width: 100%;
    }
}